# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/

# NuGet packages
*.nupkg
packages/
*.snupkg

# Configuration files
*.config
*.dbmdl

# Logs
*.log

# OS-specific
Thumbs.db
.DS_Store
